@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

:root {
    --main-color: #3e2723;
    --second-color: #F2C07F;
    --third-color: #6f1d1b;
}

body {
    font-family: cairo;
    background-color: #f8f1e9;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}



.navbar {
    background-color: var(--main-color) !important;
    box-shadow: 1px 1px 6px 1px #3a2c2c;
    overflow-x: hidden !important;


}

.navbar-toggler {
    border: none;
    background-color: var(--second-color) !important;
    font-size: 15px;
}

.navbar-toggler:focus {
    box-shadow: none;
}




.nav-icon img {
    width: 80px;
    height: 70px;
    border-radius: 5px;
}

.nav-item a {
    color: white;
    transition: 0.3s;
}



.nav-item a:hover {
    color: var(--second-color);

}

.nav-left-icon {
    border-right: 1px solid #eee;
    padding-right: 40px;

}

.nav-left-icon::after {
    position: absolute;
    content: "5";
    background-color: #DB651D;
    border-radius: 50%;
    font-size: 10px;
    width: 15px;
    height: 15px;
    color: white;
    top: -5px;
    right: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-button {
    background-color: var(--second-color);
    border-radius: 5px;
    transition: 0.3s;

}

.nav-button:hover {
    transform: scale(1.01);
    background-color: #f5bb6e;

}

.nav-left-icon i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.3s;
    background-color: var(--second-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left-icon i:hover {
    transform: scale(1.05);
}


/* start first style */
.first {
    height: 100vh;
    background-color: #fffaf5;
    margin-top: 20px;
    display: flex;
    align-items: center;
    overflow-x: hidden !important;

}

.first h1 {
    color: var(--third-color);
    font-weight: bold;
    font-size: 55px;
    width: 95%;

}

@media (max-width:768px) {
    .first h1 {
        font-size: 40px;
    }
}

.first p {
    font-size: 20px;
    font-weight: 500;
}

.first-form {
    height: 50px;
}



.first-btn {
    position: absolute;
    right: -20px;
    border-radius: 10px;
    background-color: var(--second-color);
    transition: all 0.3s;
    width: 90px;
    font-size: 20px;
}

.first-btn:hover {
    transform: scale(1.01);
    background-color: #f5bb6e;

}

.first-img {
    border-radius: 15px;
    box-shadow: 1px 1px 6px var(--third-color);
}




/* end first style */



/* start about syle */
.about {
    background-color: #f8f1e9;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-x: hidden !important;
}

.about h2 {
    color: var(--third-color);
    font-weight: bold;
    font-size: 30px;
}

.about p {
    line-height: 1.8;
    width: 75%;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:768px) {
    .about {
        flex-direction: column;
        margin-top: 15px;
        text-align: center;
    }

    .about h2 {
        text-align: center;



    }

    .about p {
        text-align: center;
        width: 100%;
        line-height: 1.6;
    }


}

.about-btn {
    background-color: var(--second-color);
    border-radius: 5px;
    width: 170px;
    height: 50px;
    transition: 0.3s;
    padding: 0;


}

.about-btn i {
    position: absolute;
    display: flex;
    align-items: center;
    right: 140px;
    top: 19px;


}

@media (max-width:768px) {
    .about-btn {
        width: 50%;
    }

    .about-btn i {
        position: absolute;
        content: "";
        display: flex;
        align-items: center;
        right: 170px;
        top: 20px;
    }

}

.about-btn:hover {
    transform: scale(1.02);
    background-color: #f5bb6e;
    font-weight: 500;
}

.about img {
    width: 100%;
    border-radius: 5px;
}

/* end about syle */

/* start menu style */
.menu {
    background-color: #fffaf5;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    overflow-x: hidden !important;
}

@media (max-width:768px) {
    .menu {
        height: auto;
    }
}

.menu-title h2 {
    text-align: center;
    font-weight: bold;
    color: #6f1d1b;
    font-size: 27px;
    margin-top: 25px;
}

.menu-title p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.swiper-button-next,
.swiper-button-prev {
    color: var(--third-color);
    width: 55px;
    height: 55px;
    
}

.swiper-button-next {
    padding-right: 40px !important;
    
    
}

.swiper-button-prev {
    padding-left: 40px !important;
}

.card {
    margin-top: 15px;
    border: 3px solid var(--second-color);
}



.card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--third-color);
}

.card-text {
    text-align: center;
    font-weight: bold;

}

.card-btn {
    background-color: var(--main-color);
    transition: 0.3s;
    font-weight: 500;
    color: white;
    width: 80%;
    
}

.card-btn:hover {
    transform: scale(1.02);
    background-color: #f5bb6e;
    font-weight: 500;
}



/* end menu style */



/* start hero style */
.hero {

    background-image: url('../images/food.jpg') ;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    height: 100vh;
    overflow-x: hidden !important;
}

.hero-container {
    background-color: #eeeeee7f;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    padding: 15px;
}

.hero-container h2 {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.hero-container p {
    font-weight: bold;
    font-size: 19px;
    color: black;
    margin-bottom: 20px;

}


.hero-btn a button {
    background-color: var(--main-color);
    transition: 0.3s;
    font-weight: 500;
    color: white;
}

.hero-btn a button:hover {
    transform: scale(1.02);
    background-color: #f5bb6e;
    font-weight: 500;
}

/* end hero style */


/* start questions style */

.questions {
    background-color: #fffaf5;
    height: 100vh;
    overflow-x: hidden !important;
}

.questions-title h2 {
    text-align: center;
    font-weight: bold;
    color: #6f1d1b;
    font-size: 27px;
    margin-top: 25px;
}

.questions-title p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.accordion-item {
    border-radius: 15px !important;
    margin-bottom: 15px !important;
    border: 2px solid #eee !important;
    overflow: hidden !important;
}

.accordion-button {
    font-weight: 600 !important;
    background-color: #fff !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff3e6 !important;
    color: #c26d00 !important;
    box-shadow: none !important;
}

.accordion-body {
    background-color: #fafafa !important;
}

/* end questions style */


/* start location syle */
.location {
    background-color: #f8f1e9;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    overflow-x: hidden !important;
}

.location h2 {
    color: var(--third-color);
    font-weight: bold;
    font-size: 30px;
}

.location p {
    line-height: 1.8;
    width: 75%;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:768px) {
    .location {
        flex-direction: column;
        margin-top: 15px;
        text-align: center;
    }

    .location h2 {
        text-align: center;



    }

    .location p {
        text-align: center;
        width: 100%;
        line-height: 1.6;
    }


}

.location-btn {
    background-color: var(--second-color);
    border-radius: 5px;

    width: 35%;
    transition: 0.3s;

}


.location-btn:hover {
    transform: scale(1.02);
    background-color: #f5bb6e;
    font-weight: 500;
}






@media (max-width:768px) {
    .location-btn {
        width: 50%;
        margin-bottom: 15px;
    }
}


.location img {
    width: 100%;
    border-radius: 15px;
}

/* end location syle */


/* start footer style */


.footer {
    background-color: #3e2723f3;
    color: #ccc;
    box-shadow: 1px 1px 8px 1px #3a2c2c;
    overflow-x: hidden !important;
}

.footer h5 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer p {
    line-height: 1.8;
    font-weight: 600;
}


.footer .ul-footer a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.footer .ul-footer a:hover {
    color: var(--second-color);
    padding-right: 6px;
}

.social-icons a {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    color: #ccc;
    transition: all 0.3s;
}


.social-icons a:hover {
    transform: scale(1.08);
    color: var(--second-color);

}

/* end footer style */


.offcanvas-header {
    color: var(--third-color);
}

.offcanvas-orders {
    padding: 20px;
    background-color: #eee;
    border: 2px dashed #ccc;
    margin: 10px;
    border-radius: 10px;
    
}

.offcanvas-orders button {
    background-color: var(--second-color);
    transition: 0.3s;
}

.offcanvas-orders button:hover {
    transform: scale(1.02);
    background-color: #f5bb6e;
    font-weight: 500;
}


/* modal */

.modal-header {
    color: var(--third-color);
}

.modal-footer .modal-btn {
    background-color: var(--second-color);
   
}

.modal-footer .modal-btn:hover {
    background-color: #f5bb6e;


}










